<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.mapper.SysRoleMapper">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,role_name,role_code,description,create_time,update_time,is_deleted
    </sql>

    <!-- 模糊查询角色列表-->
    <select id="findByPage" resultType="com.model.entity.system.SysRole">
        select <include refid="columns"></include> from sys_role
        <where>
            <if test="roleName!=null and roleName!=''">
                role_name like concat('%',#{roleName},'%')
            </if>
            and is_deleted = 0
        </where>
        order by id desc
    </select>

    <insert id="saveSysRole" parameterType="com.model.entity.system.SysRole">
        insert into sys_role(role_name,role_code,description,create_time,update_time,is_deleted)
        values(#{roleName},#{roleCode},#{description},now(),now(),0)
    </insert>
    <update id="updateSysRole" parameterType="com.model.entity.system.SysRole" >
        update sys_role set
        <if test="roleCode != null and roleName!=''">
                  role_code=#{roleCode}
        </if>
        <if test="roleName != null and roleName!=''">
            role_name=#{roleName}
        </if>
        <if test="description != null and description!=''">
            description=#{description}
        </if>
        update_time = now()
        where id=#{id}
    </update>
    <update id="deleteSysRole">
        update sys_role set is_deleted = 1 where id = #{id}
    </update>
</mapper>